@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    max-width:100%;
}
html{
    font-family: 'Roboto';
    /* overflow-x:hidden; */
}
.btn{
    background-color: #3F2AFF;
    font-weight: 700;
    border-radius: 20px;
    color: white;
}
/* .container{
     margin-left: 165px;
     margin-right: 165px;
} */

/* HEADER */
.header{
    height:80px;
    background: #3F2AFF;
}
.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.nav__list{
    display: flex;
}
.nav__item{
    font-weight: 400;
    font-size: 18px;
    color:#FFFFFF;
    margin-left: 56px;
}
.nav-link{
    color: white;
}
.burger{
    
    display: none;
}

/* HERO */
.section-hero{
    height: 630px; 
    background : radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
}
.hero__container{
    padding-bottom: 115px;
    background-size: contain;
    background : url(../img/Group\ 95.png) right center no-repeat;
}

.hero__title{
    font-size: 60px;
    font-weight: 700;
    color: white;
    padding-top: 130px;
}

.hero__description{
    color: white;
    padding-top: 30px;
    font-size: 18px;
    font-weight: 400;
    line-height:27px;
    width: 440px;
    padding-bottom: 70px;
}
.hero__btn{
    display: inline-block;
    padding: 24px 75px;
    align-items: center;
    font-size: 18px;
}






/* Advantages */
.section-advantages{
    height: 460px;
    background: #E5E5E5;
}
.advantages__title{
    font-size: 40px;
    font-weight: 700;
    color:  #2E2B44;
    padding-top: 80px;
}
.advantages__description{
font-size: 16px;
font-weight: 400;
line-height: 24px;
margin-top: 30px;
color: #666666;
}
.advantages__container{
    background: url(../img/Vectary\ texture.png) left center no-repeat;
    padding-left: 190px;
    
}
.advantages__list{
display: flex;
}
.advantages__item{
font-size: 16px;
font-weight: 700;
line-height: 19px;
color: #666666;
padding-left: 110px;
padding-bottom: 46px;
padding-top: 46px;
width: 240px;
margin-right: 30px;
}
.advantages__item1{
    background: url(../img/глаз.svg) left center no-repeat;
}
.advantages__item2{
    background: url(../img/fingers.svg) left center no-repeat;
}
.advantages__item3{
    background: url(../img/громкоговоритель.svg) left center no-repeat;
}





/* Teachers */
.section-teachers{
    height: 576px;
    background: #212133;
}
.teachers__title{
    padding-top: 80px;
    font-size: 40px;
    font-weight: 700;
    color: white;
}
.teachers__list{
    display: flex;
    color: white;
    justify-content: space-between;
}

.teachers__img{
    border-radius: 22px 22px 0px 0px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.teachers__name{
font-size: 18px;
font-weight: 700;
}
.teachers__description{
font-size: 16px;
font-weight: 400;
line-height: 24px;
color: #85859B;
margin-top: 15px;
width: 250px;
}






/* Courses */
.section-courses{
    background: #ffffff;
    padding-bottom: 80px;
}

.courses__title{
    font-size: 40px;
    font-weight: 700;
    color: #212133;
    padding-top: 80px;
}

.courses__list{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}
.section-courses-column{
    display: flex;
}
.courses__item{
    margin-bottom: 30px;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.courses__item1{
    background: url(../img/курсы1.jpg) top center no-repeat #EDF0F9;
    background-size: contain;
}
.courses__item2{
    background: url(../img/курсы2.jpg) top center no-repeat #EDF0F9;
    background-size: contain;
}
.courses__item3{
    background: url(../img/курсы3.jpg) top center no-repeat #EDF0F9;
    background-size: contain;
}
.courses__item4{
    background: url(../img/курсы4.jpg) top center no-repeat #EDF0F9;
    background-size: contain;
}
.courses__time{
    color: white;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: right;
    padding: 15px 5px 15px 0;
    background: url(../img/mdi_access_time.svg)455px center   no-repeat;
}

.courses__box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
    padding:180px 30px 30px;
}
.courses__name{
padding-bottom: 15px;
font-size: 18px;
font-weight: 700;
color:#212133;
}

.courses__description{
    font-size: 16px;
    font-weight: 400;
    color:#666666;
    line-height: 24px;
}

.courses__btn{
    display: inline-block;
    padding: 20.5px 59px;
    font-size: 16px;
}


/* FOOTER */
.footer{
    height: 80px;
    background: #2E2B44;
}

.footer__list{
    display: flex;
    align-items: center;
    justify-content: center
}

.footer__item{
    padding: 40px 30px;
    background-size: 20px;
}
.footer__item1{
    background: url(../img/фэйсбук.svg)center no-repeat;
}
.footer__item2{
    background: url(../img/твитер.svg) center no-repeat;
}
.footer__item3{
    background: url(../img/инста.svg) center no-repeat;
}
.footer__item4{
    background: url(../img/ютюб.svg) center no-repeat;
}
.footer__text{
    padding-top: 3px;
    font-size: 18px;
    font-weight:400;
    display: flex;
    justify-content: center
    
}
.footer__text-color{
   color: #3f2aff;
}

@media(max-width:768px){
    .section-hero {
        padding-top: 130px;
    }
    .container{
        max-width: 690px;
        
    }
    .hero__container{
        height: 360px;
        background-size:contain;
        padding-top: 0px;
        padding-bottom: 0px;
        background-position:right top;
        margin: 0 auto;
        
    }
    .hero__title{
        padding: 0;
        font-size: 50px;
        width: 380px;
    }
    .hero__description{
        width: 345px;
    }
}
    
